.navigation {
  // width: 30rem;
  // height: 45rem;
  top: 6rem;
  right: 6rem;
  position: fixed;
  z-index: 2;

  &--toggle {
    animation: moveInLeft 0.4s ease-out;
  }

  &__checkbox {
    border: none;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 3;
    text-align: center;
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    z-index: 1.5;
  }

  &__disable {
  }
  &__nav {
    height: 45rem;
    top: 0;
    right: -60rem;
    z-index: 1;
    opacity: 0;
    width: 0;
  }

  .show {
    opacity: 1;
    right: 6rem;
    animation: fadeIn 0.2s ease-in;
  }

  .toggle {
    opacity: 0;
    right: -600rem;
    animation: fadeOut 0.2s ease-out;
  }
  &__list {
    background-image: radial-gradient(
      rgba($color-primary, 0.6),
      rgba($color-secondary-light, 0.5)
    );
    border-radius: 1rem;
    width: 30rem;
    height: 45rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    list-style: none;
    text-align: center;
  }
  &__item {
    margin: 1rem;
  }
  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 2rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 250%;
      transition: all 0.4s;
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }
  // &__checkbox:checked ~ &__background {
  //   transform: scale(80);
  // }

  &__checkbox:checked ~ &__nav {
    // animation: moveInRight 0.4s ease-out;
    opacity: 1;
  }

  //Icon
  &__icon {
    position: relative;
    margin-top: 3.5rem;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 3px;
      background-color: $color-black;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__checkbox:hover &__icon::before {
    top: -1rem;
  }
  &__checkbox:hover &__icon::after {
    top: 1rem;
  }
}
