.navigation {
  width: 30rem;
  height: 45rem;
  background-image: radial-gradient($color-primary, $color-secondary-light);
  top: 6rem;
  right: 6rem;
  position: fixed;
  z-index: 2;
  &__checbkox {
    display: none;
  }
  &__button {
    background-image: radial-gradient($color-primary, $color-secondary-light);
    border: none;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.2);
  }
  &__button:focus {
    outline: 0;
  }

  // &__background {
  //   height: 6rem;
  //   width: 6rem;
  //   border-radius: 50%;
  //   position: fixed;
  //   top: 6.5rem;
  //   right: 6.5rem;
  //   background-image: radial-gradient($color-primary, $color-secondary-light);
  //   z-index: 1.5;

  //   transform: scale(20);
  // }
  &__disable {
  }
  &__nav {
    height: 45rem;
    // width: 35rem;
    // background-color: red;
    // position: fixed;
    top: 0;
    right: 0;
    z-index: 1;

    // opacity: 0;
    width: 0;
  }
  &__list {
    // background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  &__item {
    margin: 1rem;
  }
  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 2rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 250%;
      transition: all 0.4s;
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }
}
