.btn--small {
  outline: none;
  color: $color-grey-dark-2;
  text-transform: uppercase;
  background: transparent;
  padding: 1rem 2.5rem;
  border: 2px solid $color-grey-dark-2;
  border-radius: 0.6rem;
  display: inline-block;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  &:hover {
    color: $color-secondary-dark;
    border-radius: 5rem;
    border-color: $color-secondary-dark;
    transition: all 0.3s ease 0s;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
}

.btn--small__margin {
  margin-bottom: 2rem;
}

.btn--small--alignSelf {
  align-self: center;
  margin-top: 1.5rem;
}
