$color-primary: #61a9f1c0;
$color-primary-dark: #207ce5d0;

$color-primary-solid: #61a9f1;

$color-secondary-light: #2998ff;
$color-secondary-dark: #5643fa;

$color-orange-dark: #ff7730;
$color-red: #ba0001;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee7;
$color-grey-dark: #777;
$color-grey-dark-2: #999;

$color-sandy-1: #fff1e2;

$color-black: #000000;
$color-white-dark: #f4f4f4;
$color-white: #fff;
