.search-box--container {
  display: flex;
  font-size: 1.5rem;
  //   text-align: center;
  flex-direction: column;
  padding: 5rem 10rem 0 10rem;

  @include respond(phone) {
    padding: 0;
  }
  .search-box--form {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(
        to right bottom,
        $color-secondary-light,
        $color-secondary-dark
      ),
      url(../../img/beach.jpeg);
    background-blend-mode: screen;
    background-size: cover;
    padding: 5rem;
    border-radius: 1.5rem;
    justify-content: space-around;

    @include respond(phone) {
      flex-direction: column;
      padding: 10rem 0 0 2rem;
      align-items: center;
    }

    .calendar--container {
      @include respond(phone) {
        align-self: flex-start;
      }
      @include respond(tab-port) {
        margin: 0 1.25rem;
      }
    }
  }

  .search-box--results {
    &__loading {
      width: 100%;
      height: 100%;
      text-align: center;
    }
  }

  .search-box--loading {
    &__show {
      display: inline-block;
    }
    &__hide {
      display: none;
    }
  }
  .search-box--button-container {
    align-self: center;
    @include respond(phone) {
      padding: 4rem;
    }
  }
  @include search-result-button;

  .search-box__title {
    text-transform: uppercase;
    padding: 5rem;
    text-align: center;
  }
}
