.profile--update--container {
  @include form-padding;
  background-image: linear-gradient(
    to right bottom,
    $color-secondary-light,
    $color-primary-dark
  );
}

.profile--update--main {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.8) 0%,
      rgba($color-white, 0.8) 100%,
      transparent 50%
    ),
    url(../../img/palm.jpeg);
  border-radius: 3px;
  box-shadow: 0 2rem 4rem rgba($color-black, 0.25);
  background-size: cover;
}
